@model ItemsViewModel;
@{
    ViewData["Title"] = "Home Page";
}

<h2>Товары</h2>

<table class="table">
    <thead>
    <tr>
        <td>Продавец</td>
        <td>Наименование</td>
        <td>Цена</td>
        <td>Количество</td>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.Items)
    {
        <tr>
            <td>@item.User.Name</td>
            <td>@item.Name</td>
            <td>@item.Price</td>
            <td>@item.Quantity</td>
            @if (User.Identity.IsAuthenticated && item.Quantity > 0)
            {
                <td>
                    <form asp-action="BuyItem" asp-controller="Home" method="get">
                        <input type="hidden" name="maxCount" asp-for="@item.Quantity"/>
                        <input type="hidden" name="itemId" asp-for="@item.Id"/>
                        <a class="btn btn-xs text-primary upCount">+</a>
                        <input type="text" name="count" value="1" class="text-capitalize text-center input-sm" style="width: 10%"/>
                        <a class="btn btn-xs text-danger downCount">-</a>
                        <input class="btn-sm btn-primary" type="submit" value="Купить"/>
                    </form>
                </td>
            }
        </tr>
    }
    </tbody>
</table>

@section Scripts{
    <script type="text/javascript">
        $(".upCount").click(function() {
            var count = $(this).siblings("input[name='count']");
            var maxCount = $(this).siblings("input[name='maxCount']").val();
            count.val(function() {
                if (Number(count.val()) < Number(maxCount)) {
                    return Number(count.val()) + 1;
                } else {
                    return count.val();
                }
            });
        });

        $(".downCount").click(function() {
            var count = $(this).siblings("input[name='count']");
            count.val(function() {
                if (count.val() > 1) {
                    return Number(count.val()) - 1;
                } else {
                    return count.val();
                }
            });
        });
    </script>
}

